# SPDX-License-Identifier: BSD-3-Clause-Clear
# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.

[Unit]
Description = launch vhost-device-ssr for LVGVM

After = ssr-rm.service early-services.target
Wants=early-services.target
Requires = ssr-rm.service
Before = qcrosvm_lv.service

[Service]
Environment=RUST_LOG=info
ExecStart = /usr/bin/vhost-device-ssr --socket-path=/tmp/linux-vm3-ssr-skt --clients-groups=CDSP,CDSP1,CDSP2,CDSP3,HPASSC0,HPASSC1,HPASSC2 --enable-sd-notify -p "vhost-device-ssr-lv"
Type=notify
NotifyAccess=main
Slice=gvm.slice

[Install]
WantedBy = multi-gvm.target
WantedBy = safe-ivi.target
WantedBy = nonsafe-ivi.target
WantedBy = flex.target
