# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear
[Unit]
Description = launch vhost-device-ssr

After = ssr-rm.service
Requires = ssr-rm.service
Before = qcrosvm.service

[Service]
Environment=RUST_LOG=info
ExecStart = /usr/bin/vhost-device-ssr --socket-path=/tmp/linux-vm2-ssr-skt --clients-groups=CDSP,CDSP1 --enable-sd-notify
Type=notify
NotifyAccess=main
[Install]
WantedBy = multi-user.target
