# SPDX-License-Identifier: BSD-3-Clause-Clear
# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
[Unit]
Description=Service to start vhost-device-i2c daemon

After=remote-fs.target tmp.mount early-services.target
Wants=early-services.target

Before=qcrosvm.service shutdown.target
Conflicts=shutdown.target
DefaultDependencies=no

[Service]
ExecStart=/usr/bin/vhost-device-i2c \
--socket-path=/tmp/linux-vm2-i2c-skt \
--socket-count=1 \
--device-list "9:75:79"
Slice=gvm.slice

[Install]
WantedBy = single-gvm.target
WantedBy = multi-gvm.target
WantedBy = safe-ivi.target
WantedBy = nonsafe-ivi.target
WantedBy = flex.target
